{% extends "base.html" %}
{% block content %}

<!-- Home Page -->
<div id="home" class="page active">
    <h2 class="page-title">Bem-vinde à Wiki Pessoal</h2>
    <div class="search-container">
        <input
        type="text"
        class="search-box"
        placeholder="Pesquisar por conteúdo ou tags..."
        oninput="search_documents(this.value)"
        >
    </div>
    {% if not docs_list %}
        <div class="empty-state">Nenhum documento criado.</div>
    {% endif %}
    <div id="documents-container" class="documents-grid">
        {% if docs_list %}
            {% for doc in docs_list %}
                <a  href="/document?doc_title={{ doc[0] }}">
                    <div class="document-card">
                        <div class="document-card-info">
                            <div class="document-title">{{ doc[0] }}</div>
                            <div class="document-tags">
                                {% if doc[1] %}
                                {% for tag in doc[1] %}
                                <span class="tag">{{ tag }}</span>
                                {% endfor %}   
                                {% endif %}    
                            </div>
                        </div>
                        <div class="hidden">{{ doc[2] }}</div>
                        <div class="edit-button">
                            <form action="/edit-doc" method="POST" class="list-item-actions">
                                <input type="hidden" name="doc">
                                <button class="btn btn-small btn-edit" onclick="edit_document(this)"><img class="edit-icon" src="../static/images/edic-icon.png" alt="edit-icon"></button>
                            </form>
                            <form action="/delete-doc" method="POST" class="list-item-actions">
                                <input type="hidden" name="doc">
                                <button class="btn-delete" onclick="edit_document(this)"><img  class="delete-icon" src="../static/images/delete-document-x-icon.png" alt="x"></button>
                            </form>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
